/* VARIABALE */
* {
  box-sizing: border-box;
}

:root {
  --color-text: #ffffff;
  --color-backbround: #0b0b0b;
  --color-button-background: #3b3b3b;
  --color-background-songs: #2b2b2b;
  --color--background-containers: #1D1D1D;
}


/* BODY */
body{
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--color-backbround);
}

button {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
}

/* HEAD */
header{
  background-color: var(--color--background-containers);
  border-radius: 5px;
  max-width: 95%;
  height: 200%;
  margin: auto;
  padding: 15px;
  margin-top: 15px;
  position: relative;
  z-index: 1;
}

.menuIcon{
  width: 30px;
  height: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar{
  background-color: var(--color-text);
  width: 30px;
  height: 3px;
  transition: transform 0.3s ease;
  }

.menuIcon.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menuIcon.open .bar:nth-child(2) {
  opacity: 0;
}

.menuIcon.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.menu{
  display: flex;
  flex-direction: column;
}

.hidden{
  position: absolute;
  opacity: 0;
  top: -100%;
  transition: 0.4s ease;
} 

.shown{
  position: absolute;
  opacity: 1;
  top: 100%;
  transition: 0.4s ease;
  background-color: var(--color--background-containers);
}

/* SECTION 1 (ABOUT ME)*/
.aboutMeContainer{
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color--background-containers);
  max-width: 50%;
  padding: 2rem;
  max-width: 75vw;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.aboutMeContainer h1,h2, p{
  color:var(--color-text);
}

.nameAndProfile{
  display: flex;
  flex-direction: column;
}

.nameAndProfile h1, h2{
  font-size: 2rem;
}

.aboutMe{
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.profielFoto{
  height: 10em;
  width: 10em;
}

/* SECTION 1 (ABOUT ME) MOBILE */
@media (max-width: 600px) {
  .aboutMeContainer {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .nameAndProfile{
    align-items: center;
    min-width: 90%;
  }

  .aboutMe{
    min-width: 90%
  }
}

/* SECTION 2 (MUSIC) */
.musicContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color--background-containers);
  align-items: center;
  padding: 2rem;
  max-width: 75vw;
  margin: auto;
  margin-bottom: 1rem;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Muziek selector */
.musicSelectorContainer button{
  background-color: var(--color-background-songs);
  color: var(--color-text);
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}

.playlistSelectorButton.active{
  background-color: var(--color-backbround);
}

.musicSelectorContainer {
  background-color: var(--color-button-background);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  list-style-type: none;
  border-radius: 2rem;
  align-items: center;
}

.musicSelectorContainer h3{
  color: var(--color-text);

}

.buttonsContainer{
  display: flex;
  gap:1rem;
  padding: 1rem;
}

ul{
  background-color: var(--color-button-background);
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 2rem;
}

.playlistName, .playlistCover {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlistCover img{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 0.5rem;
}

.songContainer{
  list-style-type: none;
  padding: 0;
  display:grid;
  gap:1em;
  min-width: 100%;
  padding: 1rem;
}

/* een liedje */
.songContainer {
  /* om te zorgen dat de kinderen binnen de li blijven */
  position: relative;
}

/* vaste info */
.song{
  background-color: var(--color-background-songs);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  border-radius: 1.5rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-decoration: none;
  cursor: pointer;
}

.song h3{
  color: var(--color-text);
}

.song p{
    color: var(--color-text);
    align-self:flex-end;
}

.songCover{
  display: inline-block;
  width: 6rem;
  height: 6rem;
  border-radius: 0.5rem;
}

.inactivePlaylist{
  display: none;
}

/* popover */

.musicplayerPopup{
  display: flex;
  flex-direction: column;
  position: absolute; /* om de tweede div op een vaste plek binnen de li zetten */
  left:-1em;
  right:-1em;
  top:calc(50%);
  translate:0 -50%;
  scale:.95;
  opacity: 0;
  border-radius: 1rem;
  background-color: var(--color-background-songs);
  transition: 0.2s ease;
  pointer-events: none;
  z-index: 10;
  padding: 1rem;
}

.musicplayerPopup iframe{
  border-radius: 0.5rem;
}

.musicplayerPopup.musicOpen{
  opacity: 1;
  pointer-events:unset;
  scale:1;
}

.closeMusicPopup{
  margin-bottom: 0.5rem;
  color: var(--color-text);
  transition: 0.2s ease;
  width: 2rem;
  height: 2rem;
}

.closeMusicPopup:hover{
  transform: rotate(90deg);
  transition: 0.2s ease;
}

.waas {
  position: fixed;
  inset:0;
  background-color: #0006;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease;
  z-index: 2;
}

.waas.musicOpen {
  opacity: 1;
  pointer-events: unset;


}